asgiref==3.11.1
asttokens==3.0.1
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==47.0.0
decorator==5.2.1
defusedxml==0.7.1
Django==6.0.3
django-debug-toolbar==6.2.0
django-environ==0.13.0
django-extensions @ file:///Users/dmitry/Downloads/django-extensions-4.1
django-qrcode==0.3
django-ranged-response==0.2.0
django-simple-captcha==0.6.3
executing==2.2.1
idna==3.13
ipython==9.11.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
oauthlib==3.3.1
parso==0.8.6
pexpect==4.9.0
pillow==12.1.1
prompt_toolkit==3.0.52
psycopg==3.3.3
psycopg-binary==3.3.3
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==3.0
Pygments==2.19.2
PyJWT==2.12.1
pyOpenSSL==26.1.0
python3-openid==3.2.0
redis==7.4.0
requests==2.33.1
requests-oauthlib==2.0.0
social-auth-app-django==5.8.0
social-auth-core==4.8.7
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.14.3
urllib3==2.6.3
wcwidth==0.6.0
Werkzeug==3.1.8
